* {
  box-sizing: border-box;
}

body {
  font-family: Cursive, Monospace, Fantasy;
  margin: 0;
}

h1 {
text-align: center;
padding: 23px;
background-color: #123456; 
border: 3px solid #555555;
color: white;
}

h3 {
	 color: blue;
}